/* ===== NAV ===== */
.nav-list-item a{
    font-size: 8vw;
}

#navLogo{
    font-size: 10vw;
}

#nav-menu{
    top: -100vh;
    height: 73vh;
}

#nav-menu.active{
    top: 6rem;
}





/* ===== HAMBURGER ===== */

#hamburger{
    display: block;
    position: absolute;
    right: 4vw;
}

#hamburger .bar{
    height: 5px;
    width: 30px;
    margin: 5px auto;
}

#hamburger.active .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3){
    transform: translateY(-10px) rotate(-45deg)
}

.main{
    top:12rem;
    margin: 0;
    display: grid;
    gap: 2rem;
    background-color: #e8faff3f;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 1rem 1rem;
    border-radius: 0;
}